.idea/dbnavigator.xml
.idea/donate-redirect.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/runConfigurations/flask.xml
src/__pycache__/main.cpython-39.pyc
.idea/vcs.xml
